*{margin: 0px;padding: 0px;font-family:Times New Roman;}
html{box-sizing: content-box;}
.header{background-color: #c7c6ca61;position: sticky;top: 0;}
.footer{background-color: #101821cf;padding: 40px;overflow: hidden;margin: 0px;width: 96%;margin-top: 600px;}
#mySidebar{background-color:#2c3136;height: 200%;position: sticky;top: 0px;border-right-style: outset;/* border-bottom: 1px solid; */}
.c1-container{}
.c1-container h5{color: #ecf1f3;margin-top: 12px;margin-left: 20px;font-size: 20px;}
.c1-img{
    width: 50%;
    text-align: center;
    margin-left: 50px;
    padding: 5px;
}
.c1-text{
    width: 50%;
    color: #ecf1f3;
    margin-left: 70px;
    font-size: 17px;
}
.c1-text span{text-align: center;}
.bar-block{
    height: 100%;
}
.bar-block-item{padding: 14px;display: list-item;font-size: 20px;text-decoration: none;color: #ecf1f3;font-weight: 600;}
.bar-block a:hover {
  background-color: #8ed44f;
}
.bar-block-item i{font-size: 20px;margin-right: 15px;}
.dropdown-btn {
  padding: 6px 9px 14px 12px;
  text-decoration: none;
  font-size: 21px;
  display: block;
  text-align: left;
}
.dropdown-container {
  display: none;
  padding-left: 0px;
}
.wrapper{display: flex;position: relative;}
.header2{padding: 5px;background-color: white;overflow: hidden;}
#header-text{
    float: left;
    width: 50%;
    padding: 20px;
    font-size: 25px;
    color: green;
}
#header-logo{float: right;width: 20%;}
#header-logo img{
    margin-left: 110px;
}



.main{background-color: #3b3e400d;margin-left:25%;width: 85%;margin-left: 5px;/* margin-top:43px; */}
.innerdiv{
    width: 23%;
    padding: 40px;
    float: left;
    margin: 9px;
}
.innerdiv:hover{background: #8ed44f;color: white;cursor: pointer;transform: scale(.8);transition: all 1s;}
.innerdiv1{background-color: #FF9800;}
.innerdiv2{background-color: #b0dce2;}
.innerdiv3{background-color: #cddc39;}
.innerdiv-icon{}
.innerdiv-icon i{
    font-size: 50px;
    float: right;
    margin-bottom: 15px;
}
.innerdiv span{
    font-size: 18px;
}
.Section{background-color: #93cdd630;padding: 50px;width: 36%;height: 52vh;overflow: hidden;margin: 12px;}